/* src/components/BookingForm.css */
.booking-form {
  background-color: #222222;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  margin-top: -30px;
  max-width: max-content;
  margin: -90px auto;
  width: 80%;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.form-group {
  margin: 10px;
  text-align: left;
  flex: 1 1 150px;
  min-width: 150px;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.form-group input,
.form-group select,
.date-picker {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
}

.check-button {
  padding: 12px 24px;
  background-color: #c5a880;
  color: #fff;
  border: 1px solid #c5a880;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 600px) {
  .form-group {
    flex-basis: 100%;
  }
}

@media (max-width: 350px) {
  .form-group input,
  .form-group select,
  .check-button,
  .date-picker {
    font-size: 0.9em;
    padding: 8px;
  }
}