/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 0 auto;
  background-color: #333;
  color: whitesmoke;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: whitesmoke;
}

.logo span {
  font-size: 12px;
  display: block;
  font-weight: normal;
}

@media (min-width: 769px) {
  .nav {
    display: none;
    margin-right: 10%;
  }

  .nav a {
    padding: 10px;
  }

  .logo {
    font-size: 22px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 14px;
}

.nav a:hover {
  color: #007bff;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  height: 2.5px;
  width: 100%;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #333; /* Background color for the nav */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    margin: 12px 0;
    display: block;
    background-color: #333; /* Background color for nav links */
    color: whitesmoke; /* Text color for nav links */
    padding: 10px 0;
  }

  .nav a:hover{
    background-color: #555;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 18px;
  }
  .logo span {
    font-size: 10px;
  }
  .nav a {
    font-size: 12px;
  }
}