/* src/components/Hero.css */
.hero {
  background-image: url("/src/components/assets/homeHero.jpeg");
  background-size: cover;
  background-position: center;
  height: 90vh; /* Increased height for better coverage */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px; /* Added padding for smaller screens */
  box-sizing: border-box; /* Include padding in height and width */
}

.hero-content {
  padding: 30px; /* Adjusted padding for smaller screens */
  border-radius: 10px;
  max-width: 90%; /* Limit width for better readability on smaller screens */
}

.hero h1 {
  font-size: 3rem; /* Using rem for relative font sizes */
  margin-bottom: 15px; /* Adjusted margin */
  line-height: 1.2; /* Improved line height for readability */
}

.hero p {
  font-size: 1.8rem; /* Using rem for relative font sizes */
  margin-bottom: 25px; /* Adjusted margin */
}

.buttons button {
  padding: 10px 20px; /* Adjusted padding for smaller screens */
  margin: 5px; /* Adjusted margin for smaller screens */
  border: none;
  border-radius: 5px;
  font-size: 1rem; /* Using rem for relative font sizes */
  cursor: pointer;
  border-radius: 0;
  border: 1px #c5a880 solid;
}

.tour-button {
  background-color: #c5a880;
  color: #fff;
}

.learn-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 0;
    height: 65vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons button {
    padding: 8px 16px;
    font-size: 0.9rem;
    height: 50px;
  }

  .hero-content {
    width: 100%;
    padding: 0;
  }
}

@media (max-width:350px){
    .hero h1{
        font-size: 1.4rem;
    }
    .hero h2{
        font-size: 1.1rem;
    }
}